@model Victuz.Models.ActivityModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ActivityModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxParticipants" class="control-label"></label>
                <input asp-for="MaxParticipants" class="form-control" />
                <span asp-validation-for="MaxParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryIds" class="control-label"></label>
                <select asp-for="CategoryIds" class="form-control" asp-items="ViewBag.CategoryIds" multiple="multiple"></select>
                <span asp-validation-for="CategoryIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">


                <label asp-for="PaymentType" class="control-label">Betalingstype</label>

                <select asp-for="PaymentType" class="form-control">
                    <option value="" disabled selected>Kies een betalingstype </option>
                    <option value="FreeForEverybody">Gratis voor iedereen</option>
                    <option value="FreeForMembers">Gratis voor leden, betaald voor niet leden</option>
                    <option value="Paid">Betaald voor iedereen</option>
                </select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            @if (User.IsInRole("BoardMember"))
            {
                <div class="form-group">
                    <label asp-for="OrganizerId" class="control-label"></label>
                    <select asp-for="OrganizerId" class="form-control" asp-items="ViewBag.OrganizerId">
                        <option value="" disabled selected>Kies een organisator (optioneel) </option>
                        <option value="">Geen </option>


                    </select>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="OrganizerId" class="control-label"></label>
                    <select asp-for="OrganizerId" class="form-control" asp-items="ViewBag.OrganizerId" style="pointer-events: none;">
                        <option value="" disabled selected>Kies een organisator (optioneel) </option>
                        <option value="">Geen </option>


                    </select>
                </div>
            }
            
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />

            </div>
        </form>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger mt-3">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>
</div>

<div>
    <a href="javascript:history.back()">Terug</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
