@page
@model RegisterModel
@{
    ViewData["Title"] = "Registreren";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Maak een nieuwe account aan.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Wachtwoord</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Bevestig Wachtwoord</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top: 10px;">

                <select asp-for="Input.AccountType" class="form-control">
                    <option value="" disabled selected>Kies account soort</option>
                    <option value="Member">Lid</option>
                    <option value="BoardMember">Bestuurslid</option>
                </select>
                <span asp-validation-for="Input.AccountType" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="First name" aria-required="true" placeholder="First name" />
                <label asp-for="Input.FirstName">Voornaam</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="Last name" aria-required="true" placeholder="Last name" />
                <label asp-for="Input.LastName">Achternaam</label>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registreren</button>
        </form>
    </div>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
