.homepage-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    height: 100vh; /* Vul de volledige hoogte van het scherm */
    overflow: hidden; /* Verberg de algemene scrollbar */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.highlight-activity {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.activity-image img {
    width: 100%;
    max-width: 150px;
    margin-right: 20px;
    border-radius: 8px;
}

.activity-info h2 {
    font-size: 1.5em;
    color: var(--primary-text-color);
}

.activity-info p {
    font-size: 1em;
    color: var(--secondary-text-color);
}

.partners-activities {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-grow: 1;
    max-height: 300px; /* Stel een maximale hoogte in om ruimte te besparen */
    overflow-y: hidden;
    margin-top: 0px;
}

.partners-section, .activities-section {
    flex: 1;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.partner {
    margin-bottom: 15px;
}

    .partner img {
        width: 100%;
        max-width: 100px;
        border-radius: 8px;
        border: 1px solid #ddd;
    }

.scrollable-activities {
    max-height: 300px; /* Beperkt de hoogte van de activiteitenlijst */
    overflow-y: auto; /* Alleen deze sectie scrollbaar */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.activity-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s;
}

    .activity-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

.activity-card-content {
    display: flex;
    flex-direction: row; /* Plaats de datum en details in een rij */
    gap: 15px; /* Ruimte tussen de datum en details */
    align-items: center;
}

.activity-date {
    font-size: 0.9em;
    color: #666;
    text-align: center;
    width: 80px; /* Breedte voor de datumkolom */
}

.activity-details {
    display: flex;
    flex-direction: column;
}

.activity-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.activity-description {
    font-size: 1em;
    color: #555;
    margin-top: 5px;
}

#SearchForm {
    margin-top: 10px;
}

#searchResults {
    margin-top: 15px;
}

.activities-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.activity-card-link {
    text-decoration: none;
    color: inherit;
}

.activity-admin-buttons {
    position: absolute;
    top: 80px;
    right: 40px;
    display: flex;
    gap: 10px;
    z-index: 10;
}