@model Victuz.Models.Suggestion

@{
    ViewData["Title"] = "Voorstel Details";
}

<h1>Voorstel Details</h1>

<h4>Voorstel</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">Titel</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Title)</dd>

            <dt class="col-sm-4">Beschrijving</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

            <dt class="col-sm-4">Naam Lid</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Member)</dd>

            @if (ViewBag.IsBoardMember == true)
            {
                <!-- Toon het aantal likes voor BoardMembers -->
                <dt class="col-sm-4">Aantal Likes</dt>
                <dd class="col-sm-8">@ViewBag.LikeCount</dd>
            }
            else if (ViewBag.IsCreator == false)
            {
                <!-- Toon de like-knop voor gewone leden -->
                <form asp-action="ToggleLike" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-success">
                        @if (ViewBag.IsLikedByCurrentUser == true)
                        {
                            <text>Dislike</text>
                        }
                        else
                        {
                            <text>Like</text>
                        }
                    </button>
                </form>
            }
        </dl>

        <div class="mt-3">
            <a asp-action="Index" class="btn btn-secondary">Terug naar overzicht</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
