@* _NavbarNotLoggedIn.cshtml *@
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarColor02">
                <div class="d-flex flex-grow-1 justify-content-center">
                    <!-- Center navbar items -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Calendar" asp-action="Calendar">Agenda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="ActivityModels" asp-action="Search">Zoeken</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/image/victuz.png" alt="Victuz Logo" style="height: 40px;">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Suggestions" asp-action="Create">Activiteit voorstel doen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Registrations" asp-action="Index">Mijn registraties</a>
                        </li>
                    </ul>
                </div>

                <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="ms-auto">
                    <!-- Align logout button to the end -->
                    @Html.AntiForgeryToken()
                    <button type="submit" class="nav-link text-light" style="cursor: pointer;">
                        Uitloggen
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>