@* _NavbarNotLoggedIn.cshtml *@
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/image/victuz.png" alt="Victuz Logo" style="height: 40px;">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Agenda</a>
                    </li>
                    <li class="nav-item nav-item-org ms-auto">
                        <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="form-inline">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="nav-link text-light " style="cursor: pointer;">
                                Log Out
                            </button>
                        </form>
                    </li>
            </div>
        </div>
    </nav>
</header>
    
